@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-padding {
  padding: 80px 10%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
